<script src="/online.js"></script>
<link rel="stylesheet" href="/tictac.css" />
<div class="p-2 d-flex flex-column h-100">
  <nav
    class="w-100 navbar navbar-expand-lg navbar-light d-flex flex-row rounded border p-2 align-items-center"
  >
    <div class="flex-grow-1 d-flex flex-row align-items-center">
      <a class="nav-link" href="/">Online users</a>
      <a class="nav-link disabled" href="/chat">Chat</a>
      <a class="nav-link" href="/match">Matches</a>
    </div>
    <form action="/logout" method="post" class="m-0">
      <button type="submit" class="btn btn-warning">Logout</button>
    </form>
  </nav>

  <div class="mt-3 d-flex flex-column align-items-center flex-grow-1 h-75">
    <h1>

      Welcome to Game between
      {{owner.name}}
      and
      {{partner.name}}

    </h1>
    <div class="d-flex flex-row rounded border bg-light p-2">
      <div class="d-flex flex-column">
        <h1
          id="count-down"
          class="d-flex align-items-center justify-content-center mb-5"
          style="color: yellow;"
        >
          Count Down
        </h1>
        <div
          id="match-result"
          class="d-flex align-items-center justify-content-center"
          style="color: red;"
        >
        </div>
        <div id="board" class="board">
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
        </div>
      </div>
      <div id="message-container" class="ms-5" style="width: 200px;">
        Messages
        {{#each messages}}
          <strong>{{user_name}}</strong>
          <p>{{content}}</p>
        {{/each}}
      </div>
      <div
        class="d-flex flex-column align-items-center"
        style="width: 200px;"
      >Records</div>
    </div>
  </div>
</div>
<script src="/match-notify.js"></script>
<script src="/match-messaging.js"></script>
<script src="/match-playing.js"></script>
<script>
  matchInit(JSON.parse('{{{player}}}'),JSON.parse('{{{match}}}'));
</script>